.productList {
    height: auto;
    width: 550px;
    padding: 10px;
    background-color: lightgray;
}
.productListing {
    width: 225px;
    display: inline-block;
    margin: 10px 10px;
    border: 1px solid black;
}
h2 {
    width: 200px;
    margin: auto;
    padding: 5px;
}
h3 {
    width: 200px;
    margin: auto;
    padding: 5px;
}
.editButton {
    width: 200px;
    border: 1px solid black;
    background-color: orange;
}
.listDeleteButton {
    width: 200px;
    border: 1px solid black;
    background-color: red;
    color: white;
}